mat-form-field{
    width: auto;
    padding: 2rem;
    background-color: whitesmoke;
    margin: 0px;
}

mat-dialog-actions{
    width: auto;
    padding: 2rem;
    background-color: whitesmoke;
    margin: 0px;
}