.tasks{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid orange;
    list-style: none;
    width: 500px;
    background-color: whitesmoke;
}


.task{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid orange;
    list-style: none;
    width: 500px;
    background-color: whitesmoke;
}

.task-complete{
    text-decoration-line: line-through;
    background-color: white;
}

// span{
//     text-decoration-line: line-through;
// }
    
table {
    width: auto;
    margin: 1rem;
    padding: 1rem;
}

.nodata{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid;
}