<div [hidden] ="dataSource.data.length == 0" class="mat-elevation-z5" style="padding: 1rem;margin: 1rem">

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> Номер </th>
      <td mat-cell *matCellDef="let index = index" > 
        {{index + 1}}
      </td>
    </ng-container>

    <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Цвет </th>
        <td mat-cell *matCellDef="let t"  [style.background-color] = 't.complete ? "#f5f5f5" : t.priority?.color' > 
          
        </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title"> Название </th>
      <td mat-cell *matCellDef="let t" [class.task-complete] = "t.complete" (click) = "emitTask(t)" style="cursor: pointer"> 
        {{t.title}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Категория </th>
      <td mat-cell *matCellDef="let t" [style.color]=" t.category ? '':'gray'" [class.task-complete] = t.complete>
        {{ t.category ? t.category.title : "Нет категории"}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Приоритет </th>
      <td mat-cell *matCellDef="let t"
          [class.task-complete] = t.complete> 
        
          {{t.priority?.title}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата </th>
      <td mat-cell *matCellDef="let t" [class.task-complete] = t.complete> {{t.date | date}} </td>
    </ng-container>

    <ng-container matColumnDef="complete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Завершено </th>
        <td mat-cell *matCellDef="let t" [class.task-complete] = t.complete> 
            <mat-checkbox color="primary" [checked]="t.complete" (change)="taskComlete(t)"></mat-checkbox>
            <!-- <input type="checkbox" [checked]="t.complete" (change)="taskComlete(t)" > -->
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Удаление </th>
      <td mat-cell *matCellDef="let t"> 
        <button mat-icon-button color="primary" (click)="deleteTask(t)">
          <mat-icon>delete</mat-icon>
        </button> 

      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>

  <div>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                    showFirstLastButtons
                    aria-label="Выберите страницу" >
    </mat-paginator>

    
  </div>

<button mat-flat-button color="primary" (click)="createTask()" style="margin:0px 0px 20px 20px;">Добавить</button>


</div>

<div *ngIf="dataSource.data.length == 0">
  <div class="nodata">
     Нет задач
  </div>
</div>

  
