.categories{
    border: 0px solid #3F51B5;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    width: 80%;
    justify-items: center;
}

.category{
    margin: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
    height: auto;
    width: 75%;
    border: 0px solid #3F51B5;
}

.category:hover{
    margin: 1rem;
    padding: 1rem;
    background-color: #3F51B5;
    color: white;
    width: 75%; 
    cursor: pointer;
}

.active{
    background-color: #3F51B5;
    color: white;
}

strong{
    font-size: large;
    text-align: center;
}

hr{
    color: #3F51B5;
}

button{
    margin: 1rem;
}